<template>
  <div>
    <v-container>
      <h1>Halo, {{ name }}!</h1>
      <p style="font-size: 1.3rem" class="font-weight-light">
        Bagaimana kabar tokomu hari ini?
      </p>
      <v-row class="mt-5">
          <v-col cols="12" sm="12" md="6" lg="6" xl="6" v-for="item in items" :key="item.icon">
              <v-card class="pa-2">
                  <v-card-text class="d-flex align-center justify-space-between">
                      <v-icon color="secondary" size="40">{{item.icon}}</v-icon>
                      <h3 class="black--text" style="justify-items: center; text-align: center;">{{item.text}}</h3>
                      <v-icon size="30">mdi-chevron-right</v-icon>
                  </v-card-text>
              </v-card>
          </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "ContentPage",
  data: () => ({
    name: "Kang Seulgi",
    items: [
        { icon: "mdi-shopping", text: "Hari ini kamu mendapat 25 order!" },
        { icon: "mdi-package-variant", text: "Cek Kesediaan Produkmu!" },
        { icon: "mdi-sale", text: "Kelola Diskon" },
        { icon: "mdi-note-multiple", text: "Lihat Statistik" },
    ]
  }),
};
</script>

<style scoped>
</style>