<template>
  <div class="mt-16">
    <v-container>
      <v-card>
        <v-row>
          <v-col cols="12" lg="6" md="6" sm="12">
              <v-card-text>
                  <h2 class="font-weight-medium">Tokomu sekarang sudah buka!</h2>
                  <h3 class="font-weight-light mt-2">Sebarkan alamat tokomu dan tingkatkan engagement!</h3>
                  <div class="seller d-flex justify-space-between align-center pa-3 mt-5" style="border-radius: 5px;">
                      <div style="font-weight: 600;" class="secondary--text">{{shopUrl}}</div>
                      <v-icon color="secondary">mdi-content-copy</v-icon>
                  </div>
                  <div class="d-flex justify-space-between align-center mt-3">
                      <div class="secondary--text font-weight-bold">
                          Sebarkan alamat tokomu ke ...
                      </div>
                      <v-btn dark depressed class="secondary">Lihat Toko</v-btn>
                  </div>
                  <div class="d-flex">
                      <img class="mr-3" v-for="social in socials" :key="social.name" :src="require(`../../../assets/images/${social.icon}`)">
                  </div>
              </v-card-text>
          </v-col>
          <v-col
           class="hidden-sm-and-down"
            cols="12"
            lg="6"
            md="6"
            sm="12"
            style="background-color: #d1efff"
          >
            <v-img
              src="../../../assets/images/undraw_business_shop.svg"
            ></v-img>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "SharePage",
  data: () => ({
      shopUrl: "olshop.ly/revestore",
      socials: [
          { name: "Facebook", icon: "facebook.svg" },
          { name: "Instagram", icon: "instagram.svg" },
          { name: "WhatsApp", icon: "whatsapp.svg" },
          { name: "Line", icon: "line.svg" },
      ]
  })
};
</script>

<style scoped>
</style>