<template>
  <div class="blue-grey lighten-5 fill-height">
    <v-card class="home-container mx-auto container fill-height" elevation="0">
      <v-card-text class="fill-height">
        <Toolbar />
        <Products :products="products" />
        <PaymentInfo />
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import Toolbar from "../../components/Buyer/Cart/Toolbar";
import Products from "../../components/Buyer/Cart/Products";
import PaymentInfo from "../../components/Buyer/Cart/PaymentInfo";

export default {
  name: "Cart",
  components: {
    Toolbar,
    Products,
    PaymentInfo
  },
  data: () => ({
    products: [
      {
        id: 1,
        name: "Kaos Putih",
        image: "",
        price: "50000",
        discountPrice: "45000",
        discount: 5,
      },
      {
        id: 2,
        name: "Kaos Hitam",
        image: "",
        price: "100000",
        discountPrice: "80000",
        discount: 20,
      },
      {
        id: 3,
        name: "Jaket",
        image: "",
        price: "120000",
        discountPrice: "108000",
        discount: 10,
      },
      {
        id: 4,
        name: "Hoodie",
        image: "",
        price: "200000",
        discountPrice: "140000",
        discount: 30,
      },
    ],
  }),
};
</script>

<style scoped>
.home-container {
  width: 35rem;
}

@media screen and (max-width: 600px) {
  .home-container {
    width: 100%;
  }
}
</style>