<template>
  <div class="blue-grey lighten-5 fill-height">
    <v-card class="home-container mx-auto container fill-height" elevation="0">
      <v-card-text class="fill-height">
          <Toolbar />
          <CheckoutForm />
          <PaymentInfo />
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import Toolbar from "../../components/Buyer/Checkout/Toolbar";
import CheckoutForm from "../../components/Buyer/Checkout/CheckoutForm";
import PaymentInfo from "../../components/Buyer/Checkout/PaymentInfo";

export default {
  name: "Checkout",
  components: {
    Toolbar,
    CheckoutForm,
    PaymentInfo
  },
  data: () => ({
  }),
};
</script>

<style scoped>
.home-container {
  width: 35rem;
}

@media screen and (max-width: 600px) {
  .home-container {
    width: 100%;
  }
}
</style>