<template>
  <div class="blue-grey lighten-5 fill-height">
    <v-card class="home-container mx-auto container fill-height" elevation="0">
      <v-card-text class="fill-height">
        <Toolbar />
        <Product class="mt-3" />
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import Toolbar from "../../components/Buyer/ProductDetail/Toolbar";
import Product from "../../components/Buyer/ProductDetail/Product";

export default {
  name: "DetailProduct",
  components: {
    Toolbar,
    Product,
  },
  methods: {
    checkParam() {
      const url = this.$route.params.itemId;
      if (url === "cart")
        this.$router.push({ name: "BuyerCart", params: { cart: "cart" } });
      else if (url === "checkout")
        this.$router.push({
          name: "BuyerCheckout",
          params: { checkout: "checkout" },
        });
    },
  },
  mounted() {
    this.checkParam();
  },
};
</script>

<style scoped>
.home-container {
  width: 35rem;
}

@media screen and (max-width: 600px) {
  .home-container {
    width: 100%;
  }
}
</style>