<template>
  <div class="blue-grey lighten-5 fill-height">
    <v-card class="home-container mx-auto container fill-height" elevation="0">
      <v-card-text class="fill-height">
        <Header :shop="shop" />
        <Search />
        <CategorySlider />
        <Products :products="products" @changeItem="changeItem" :shop="shop" />
        <BottomCart v-if="items.length > 0" :shopUrl="shop.shopUrl" />
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { EventBus } from "../../event-bus";
import Header from "../../components/Buyer/Home/Header";
import Search from "../../components/Buyer/Home/Search";
import CategorySlider from "../../components/Buyer/Home/CategorySlider";
import Products from "../../components/Buyer/Home/Products";
import BottomCart from "../../components/Buyer/Home/BottomCart";

export default {
  name: "Home",
  components: {
    Header,
    Search,
    CategorySlider,
    Products,
    BottomCart,
  },
  data: () => ({
    shop: {
      shopName: "revestore",
      shopUrl: "",
      shortAddress: "Kota Semarang, Jawa Tengah 507777",
      fullAddress:
        "Grand Tembalang Regency D4/02, Bulusan, Kec. Tembalang, Kota Semarang, Jawa Tengah 50277, Indonesia",
    },
    products: [
      {
        id: 1,
        name: "Kaos Putih",
        image: "",
        price: "50000",
        discountPrice: "45000",
        discount: 5,
      },
      {
        id: 2,
        name: "Kaos Hitam",
        image: "",
        price: "100000",
        discountPrice: "80000",
        discount: 20,
      },
      {
        id: 3,
        name: "Jaket",
        image: "",
        price: "120000",
        discountPrice: "108000",
        discount: 10,
      },
      {
        id: 4,
        name: "Hoodie",
        image: "",
        price: "200000",
        discountPrice: "140000",
        discount: 30,
      },
    ],
    items: [],
  }),
  methods: {
    changeItem(value) {
      this.items.push(value);
    },
  },
  created() {
    const path = this.$route.path;
    this.shop.shopUrl = path.replace("/shop/", "");
    EventBus.$on("changeItem", (value) => {
      this.items.push(value);
    });
  },
};
</script>

<style scoped>
.home-container {
  width: 35rem;
}

@media screen and (max-width: 600px) {
  .home-container {
    width: 100%;
  }
}
</style>