<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="6">
          <h1>Diskon</h1>
        </v-col>
        <v-col cols="6" class="d-flex justify-end align-center">
          <v-dialog v-model="dialog" max-width="500">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="secondary pa-5" dark v-bind="attrs" v-on="on"
                >Tambah Diskon</v-btn
              >
            </template>
            <v-card>
              <v-card-title>Tambah Diskon</v-card-title>
              <v-card-text>
                <v-container>
                  <v-form v-on:submit.prevent ref="form">
                    <div v-for="form in forms" :key="form.model">
                      <v-text-field
                        :type="form.model == 'value' ? 'number' : 'text'"
                        autocomplete="off"
                        :rules="form.model == 'value' ? rules(form) : validateRules(form)"
                        v-model="fields[form.model]"
                        :label="form.label"
                        color="secondary"
                        @keyup.enter.native="submitForm"
                        required
                      >
                        {{ form }}</v-text-field
                      >
                    </div>
                    <center>
                      <v-btn dark color="secondary" @click="submitForm"
                        >Tambah</v-btn
                      >
                    </center>
                  </v-form>
                </v-container>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-col>
      </v-row>
      <v-card class="mx-auto my-10 card-info text-center">
        <v-row>
          <v-col cols="4" sm="4" md="4" lg="4"></v-col>
          <v-col cols="4" sm="4" md="4" lg="4"></v-col>
          <v-col cols="4" sm="4" md="4" lg="4">
            <div class="d-flex justify-center align-center">
              <v-text-field
                v-model="search"
                label="Cari..."
                single-line
                hide-details
                autocomplete="off"
                color="secondary"
                class="mb-2 mx-3"
              ></v-text-field>
            </div>
          </v-col>
        </v-row>
        <template>
          <v-data-table
            :headers="headers"
            :items="discounts"
            :items-per-page="10"
            :search="search"
          >
            <template v-slot:[`item.edit`]="{ item }">
              <v-chip
                style="cursor: pointer"
                color="blue darken-4"
                dark
                @click="showDialog(item)"
              >
                {{ item.edit }}
              </v-chip>
            </template>
            <template v-slot:[`item.hapus`]="{ item }">
              <v-chip
                style="cursor: pointer"
                color="red"
                @click="deleteData(item.id)"
                dark
              >
                {{ item.hapus }}
              </v-chip>
            </template>
          </v-data-table>
        </template>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";
import { EventBus } from "../../../event-bus";

export default {
  name: "MainPage",
  props: ["discounts", "item", "edit_dialog"],
  data: () => ({
    dialog: false,
    search: "",
    headers: [
      { align: "center", text: "#", value: "id_dashboard" },
      { align: "center", text: "Nama", value: "name" },
      { align: "center", text: "Jumlah Diskon", value: "value_percent" },
      { align: "center", text: "Edit", value: "edit" },
      { align: "center", text: "Hapus", value: "hapus" },
    ],
    forms: [
      {
        label: "Nama Diskon",
        model: "name",
      },
      {
        label: "Jumlah Diskon",
        model: "value",
      },
    ],
    fields: {
      name: "",
      value: "",
    },
  }),
  methods: {
    showDialog(item) {
      console.log(item);
      this.$emit("updateItem", item);
      this.$emit("updateEdit", this.edit_dialog);
      if (this.edit_dialog) this.$emit("updateEdit", false);
      this.$emit("updateEdit", true);
    },
    validateRules(field) {
      return [(v) => !!v || `${field.label} harus diisi`];
    },
    rules(field) {
      return [(v) => !!v || `${field.label} harus diisi`, v => v <= 100 || 'Diskon tidak boleh lebih dari 100%'];
    },
    async deleteData(id) {
      EventBus.$emit("startLoading");
      // Static token
      const token = "172|UzltSIo1xXhWYqE6kUa0F0XBYHskbXJ66pFpHTO4";
      const config = {
        headers: { Authorization: `Bearer ${token}` },
      };
      const test = await axios.delete(
        `${this.$api}/discounts/${id}`,
        config
      );
      console.log(test);
      this.$emit("getInformasi");

      EventBus.$emit("stopLoading");
    },
    formData() {
      const data = {
        ...this.fields,
      };

      const formData = new FormData();

      for (var field in data) {
        formData.append(field, data[field]);
      }

      return formData;
    },
    async submitForm() {
      const formData = this.formData();

      if (this.$refs.form.validate()) {
        EventBus.$emit("startLoading");
        // Static token
        const token = "172|UzltSIo1xXhWYqE6kUa0F0XBYHskbXJ66pFpHTO4";
        const config = {
          headers: { Authorization: `Bearer ${token}` },
        };
        await axios.post(`${this.$api}/discounts`, formData, config);
        EventBus.$emit("stopLoading");
        this.dialog = false;
        this.$emit("getInformasi");
        this.$refs.form.reset();
      }
    },
  },
};
</script>

<style scoped>
.card-info {
  width: 95%;
}
</style>