<template>
  <div>
    <v-card class="card-container mx-auto">
      <v-card-title class="white--text secondary">Tambah Produk</v-card-title>
      <v-card-text class="mt-5">
        <v-form v-on:submit.prevent="submitForm" ref="form">
          <v-text-field
            v-model="items.name"
            :rules="[(v) => !!v || 'Nama Produk harus diisi']"
            color="secondary"
            @keyup.enter.native="submitForm"
            label="Nama Produk"
            required
            outlined
          ></v-text-field>
          <v-textarea
            outlined
            v-model="items.desc"
            :rules="[(v) => !!v || 'Deksripsi Produk harus diisi']"
            color="secondary"
            @keyup.enter.native="submitForm"
            label="Deksripsi Produk"
            required
          ></v-textarea>
          <v-text-field
            v-model="items.stock"
            :rules="[(v) => !!v || 'Stok Produk harus diisi']"
            color="secondary"
            outlined
            @keyup.enter.native="submitForm"
            label="Stok Produk"
            type="number"
            required
          ></v-text-field>
          <v-select
            v-model="items.product_category_id"
            color="secondary"
            label="Kategori Produk"
            :items="allCategory"
            outlined
            item-text="name"
            item-value="id"
          ></v-select>
          <v-text-field
            v-model="items.price"
            :rules="[(v) => !!v || 'Harga Produk harus diisi']"
            color="secondary"
            outlined
            @keyup.enter.native="submitForm"
            label="Harga Produk"
            type="number"
            required
          ></v-text-field>
          <div class="image-upload mx-auto">
            <v-container grid-list-xs>
              <v-row alignment justify="center">
                <v-col
                  v-for="(attachment, index) in attachments"
                  :key="attachment.model"
                  cols="12"
                  class="ma-5"
                >
                  <div class="d-flex flex-column align-center">
                    <center class="mb-3">{{ attachment.label }}</center>

                    <div
                      class="preview d-flex justify-center align-center"
                      :data-identification="attachment.model"
                    >
                      <div class="subtitle-1 text-preview">Preview</div>
                      <img
                        v-if="checkImage(attachment.model)"
                        class="preview-image"
                        :src="showImage(attachment.model)"
                        alt="image"
                        :id="attachment.model"
                      />
                    </div>

                    <p
                      class="red--text"
                      style="text-align: center"
                      v-if="checkImageError(attachment.model)"
                    >
                      {{ getImageError(attachment.model) }}
                    </p>

                    <v-btn
                      dark
                      color="secondary"
                      class="my-3"
                      @click="uploadImage(index, attachment.model)"
                      >Upload</v-btn
                    >

                    <image-uploader
                      :quality="0.9"
                      :preview="false"
                      outputFormat="verbose"
                      ref="attachment"
                      doNotResize="['gif', 'svg']"
                      accept="image/*"
                      @input="onChangeUploadImage"
                      style="display: none"
                    ></image-uploader>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </div>
          <p class="red--text">{{ error }}</p>
          <center>
            <v-btn @click="submitForm" dark class="secondary"
              >Tambah Produk</v-btn
            >
          </center>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import ImageUploader from "vue-image-upload-resize";
import axios from "axios";
import { EventBus } from "../../event-bus";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "AddProduct",
  components: {
    ImageUploader,
  },
  computed: mapGetters(["allProductCategory"]),
  data: () => ({
    error: "",
    allCategory: [],
    items: {
      name: "",
      desc: "",
      price: "",
      product_category_id: "",
      stock: "",
    },
    imageErrors: [],
    selectedImageType: "",
    files: {
      image: "",
    },
    urls: {
      url_image: "",
    },
    attachments: [
      {
        label: "Foto Produk",
        model: "image",
      },
    ],
  }),
  methods: {
    ...mapActions(["fetchProductCategory"]),
    async getInformasi() {
      EventBus.$emit("startLoading");
      await this.fetchProductCategory();
      this.allCategory = this.allProductCategory.data;
      EventBus.$emit("stopLoading");
    },
    uploadImage(index, type) {
      this.selectedImageType = type;
      this.$refs.attachment[index].$el.children[1].click();
    },
    onChangeUploadImage(e) {
      const image = e.dataUrl;
      const type = this.selectedImageType;
      if (!image) return;

      const fileBlob = this.dataURItoBlob(e.dataUrl, e.info.type);
      const file = new File([fileBlob], e.info.name, { type: fileBlob.type });

      if (type === "image") {
        this.urls.url_image = URL.createObjectURL(file);
        this.files.image = file;
      }

      document.querySelector(
        `.preview[data-identification='${type}'] .text-preview`
      ).style.display = "none";
      document.querySelector(
        `.preview[data-identification='${type}']`
      ).style.minHeight = 0;
    },
    dataURItoBlob(dataURI, contentType) {
      var byteString;
      if (dataURI.split(",")[0].indexOf("base64") >= 0)
        byteString = atob(dataURI.split(",")[1]);
      else byteString = unescape(dataURI.split(",")[1]);

      // var mimeString = dataURI
      //   .split(',')[0]
      //   .split(':')[1]
      //   .split(';')[0];

      var ab = new ArrayBuffer(byteString.length);
      var ia = new Uint8Array(ab);
      for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
      }

      var bb = new Blob([ab], { type: contentType });
      return bb;
    },

    checkImage(model) {
      for (var url in this.urls) {
        if (url === `url_${model}` && this.urls[url] !== "") return true;
      }
    },

    showImage(model) {
      for (var url in this.urls) {
        if (url === `url_${model}`) return this.urls[url];
      }
    },

    validateImage() {
      this.imageErrors = [];

      for (let image in this.files) {
        if (this.files[image]) {
          let fileName = this.files[image].name;
          let extension = fileName.split(".").pop();

          const standartExtensions = ["png", "jpg", "jpeg"];
          const isRight = standartExtensions.filter(
            (ex) => ex === extension.toLowerCase()
          );

          if (isRight.length <= 0) {
            this.imageErrors.push({
              model: image,
              error: "Format file harus berupa .png / .jpg / .jpeg",
            });
          }
        } else if (!this.files[image]) {
          this.imageErrors.push({
            model: image,
            error: "File wajib diisi",
          });
        }
      }
    },

    checkImageError(model) {
      let isError = this.imageErrors.filter((err) => err.model === model);

      if (isError.length > 0) return true;
      else return false;
    },

    getImageError(model) {
      const error = this.imageErrors.filter((err) => err.model === model);
      if (error.length <= 0) return;
      return error[0].error;
    },
    formData() {
      const formData = new FormData();
      formData.append("user_id", localStorage.getItem("id"));
      formData.append("name", this.items.name);
      formData.append("desc", this.items.desc);
      formData.append("price", this.items.price);
      formData.append("stock", this.items.stock);
      if(this.items.product_category_id !== '') formData.append("product_category_id", this.items.product_category_id);
      formData.append("image", this.files.image);

      return formData;
    },
    submitForm() {
      console.log(this.items.product_category_id);
      this.validateImage();
      if (this.imageErrors.length > 0) return;
      const formData = this.formData();
      if (this.$refs.form.validate()) {
        EventBus.$emit("startLoading");
        // Dynamic token
        const token = localStorage.getItem("shop_token");

        const headers = {
          Authorization: `Bearer ${token}`,
          "Content-Type": "application/json",
        };
        axios
          .post(`${this.$api}/products`, formData, {
            headers: headers,
          })
          .then(() => {
            EventBus.$emit("stopLoading");
            this.$refs.form.reset();
            this.$router.push({ name: "Product" });
            this.backPressed();
          })
          .catch((err) => {
            EventBus.$emit("stopLoading");
            this.error = err;
          });
      } else {
        let errorMessage = document.querySelector(".v-text-field__details");

        const distanceToTop = (el) =>
          Math.floor(el.getBoundingClientRect().top);

        window.scrollBy({
          top: distanceToTop(errorMessage),
          left: 0,
          behavior: "smooth",
        });
      }
    },
  },
  created() {
    this.getInformasi();
  },
};
</script>

<style scoped>
.card-container {
  width: 60%;
}

.preview {
  border: 1px solid #2e3159;
  min-height: 200px;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

.preview-image {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.image-upload {
  width: 50%;
}

@media only screen and (max-width: 1200px) {
  .card-container {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .card-container {
    width: 95%;
  }
}
</style>