<template>
  <div class="my-10">
    <EditPage
      v-if="edit_dialog"
      @getInformasi="getInformasi"
      :discounts="discounts"
      @updateEdit="updateEdit"
      :item="item"
      :edit_dialog="edit_dialog"
    />
    <MainPage
      @updateItem="updateItem"
      @updateEdit="updateEdit"
      @getInformasi="getInformasi"
      :edit_dialog="edit_dialog"
      :item="item"
      :discounts="discounts"
    />
  </div>
</template>

<script>
import MainPage from "../../components/Seller/Discount/MainPage";
import EditPage from "../../components/Seller/Discount/EditPage";
import { mapActions, mapGetters } from "vuex";
import { EventBus } from "../../event-bus";

export default {
  name: "Discount",
  components: {
    MainPage,
    EditPage,
  },
  computed: mapGetters(["allDiscount"]),
  data: () => ({
    edit_dialog: false,
    item: {
      id: "",
      id_dashboard: "",
      name: "",
    },
    discounts: [],
  }),
  methods: {
    ...mapActions(["fetchDiscount"]),
    updateItem(variable) {
      this.item = variable;
    },
    updateEdit(variable) {
      this.edit_dialog = variable;
    },
    async getInformasi() {
      EventBus.$emit("startLoading");

      await this.fetchDiscount();
      this.discounts = this.allDiscount.data;

      // this.paket = this.allPaket.data.paket;

      let count = 1;
      this.discounts.forEach((discount, index) => {
        this.discounts[index]["id_dashboard"] = count;
        this.discounts[index]["value_percent"] = `${this.discounts[index]["value"]}%`;
        this.discounts[index]["hapus"] = "delete";
        this.discounts[index]["edit"] = "edit";
        count++;
      });
      EventBus.$emit("stopLoading");
    },
  },
  async created() {
    await this.getInformasi();
  }
};
</script>

<style scoped>
</style>