<template>
  <div>
      <ContentPage/>
      <SharePage/>
  </div>
</template>

<script>
import ContentPage from "../../components/Seller/Home/ContentPage";
import SharePage from "../../components/Seller/Home/SharePage";

export default {
    name: "Home",
    components: {
      ContentPage,
      SharePage
    }
}
</script>

<style scoped>

</style>