<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="6">
          <h1>Produk</h1>
        </v-col>
        <v-col cols="6" class="d-flex justify-end align-center">
          <v-btn dark class="secondary pa-5" to="/seller-product/add"
            >Tambah Produk</v-btn
          >
        </v-col>
      </v-row>
      <v-data-table
        :headers="headers"
        :items="items"
        :items-per-page="10"
        class="elevation-1 mt-10"
      >
        <template v-slot:[`item.image`]="{ item }">
          <img
            :src="`${$storage}/` + item.image"
            style="width: 50px; height: 50px"
          />
        </template>
        <template v-slot:[`item.edit`]="{ item }">
          <v-chip
            style="cursor: pointer"
            color="blue darken-4"
            dark
            :to="`/seller-product/${item.id}`"
          >
            {{ item.edit }}
          </v-chip>
        </template>
        <template v-slot:[`item.hapus`]="{ item }">
          <v-chip
            style="cursor: pointer"
            color="red"
            @click="deleteData(item.id)"
            dark
          >
            {{ item.hapus }}
          </v-chip>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { EventBus } from "../../event-bus";
import axios from "axios";

export default {
  name: "Product",
  computed: mapGetters(["allProduct", "allProductCategory"]),
  data: () => ({
    search: "",
    productCategory: [],
    items: [],
    headers: [
      { text: "#", value: "id_dashboard" },
      { text: "Foto Produk", value: "image" },
      { text: "Nama Produk", value: "name" },
      { text: "Deskripsi", value: "desc" },
      { text: "Kategori", value: "product_category" },
      { text: "Stok", value: "stock" },
      { text: "Harga", value: "price" },
      { text: "Edit", value: "edit" },
      { text: "Hapus", value: "hapus" },
    ],
  }),
  created() {
    this.getInformasi();
  },
  methods: {
    ...mapActions(["fetchProducts", "fetchProductCategory"]),
    async getInformasi() {
      EventBus.$emit("startLoading");

      await this.fetchProductCategory();
      this.productCategory = this.allProductCategory.data;

      await this.fetchProducts();
      this.items = this.allProduct.data;

      // this.paket = this.allPaket.data.paket;

      let count = 1;
      this.items.forEach((product, index) => {
        this.items[index]["id_dashboard"] = count;
        this.items[index]["hapus"] = "delete";
        this.items[index]["edit"] = "edit";
        this.items[index]["price"] = this.convertToRupiah(
          this.items[index]["price"],
          "Rp. "
        );
        this.productCategory.forEach((category) => {
          if (category.id == product.product_category_id)
            this.items[index]["product_category"] = category.name;
        });
        count++;
      });
      EventBus.$emit("stopLoading");
    },
    async deleteData(id) {
      EventBus.$emit("startLoading");
      // Dynamic token
      const token = localStorage.getItem('shop_token');
      const config = {
        headers: { Authorization: `Bearer ${token}` },
      };
      const test = await axios.delete(`${this.$api}/products/${id}`, config);
      console.log(test);
      this.getInformasi();

      EventBus.$emit("stopLoading");
    },
  },
};
</script>

<style>
</style>
