<template>
  <div class="my-10">
    <EditPage
      v-if="edit_dialog"
      @getInformasi="getInformasi"
      :productCategory="productCategory"
      @updateEdit="updateEdit"
      :item="item"
      :edit_dialog="edit_dialog"
    />
    <MainPage
      @updateItem="updateItem"
      @updateEdit="updateEdit"
      @getInformasi="getInformasi"
      :edit_dialog="edit_dialog"
      :item="item"
      :productCategory="productCategory"
    />
  </div>
</template>

<script>
import MainPage from "../../components/Seller/ProductCategory/MainPage";
import EditPage from "../../components/Seller/ProductCategory/EditPage";
import { mapActions, mapGetters } from "vuex";
import { EventBus } from "../../event-bus";

export default {
  name: "Paket",
  components: {
    MainPage,
    EditPage,
  },
  computed: mapGetters(["allProductCategory"]),
  data: () => ({
    edit_dialog: false,
    item: {
      id: "",
      id_dashboard: "",
      name: "",
    },
    productCategory: [],
  }),
  methods: {
    ...mapActions(["fetchProductCategory"]),
    updateItem(variable) {
      this.item = variable;
    },
    updateEdit(variable) {
      this.edit_dialog = variable;
    },
    async getInformasi() {
      EventBus.$emit("startLoading");

      await this.fetchProductCategory();
      this.productCategory = this.allProductCategory.data;
      console.log(this.productCategory);

      // this.paket = this.allPaket.data.paket;

      let count = 1;
      this.productCategory.forEach((paket, index) => {
        this.productCategory[index]["id_dashboard"] = count;
        this.productCategory[index]["hapus"] = "delete";
        this.productCategory[index]["edit"] = "edit";
        count++;
      });
      EventBus.$emit("stopLoading");
    },
  },
  async created() {
    await this.getInformasi();
  }
};
</script>

<style scoped>
</style>