<template>
  <v-dialog :value="dialog" @input="closeDialog()" max-width="500">
    <v-card>
      <v-card-title>Edit Kategori Produk</v-card-title>
      <v-card-text>
        <v-container>
          <v-form v-on:submit.prevent ref="form">
            <div v-for="form in forms" :key="form.model">
              <v-text-field
              type="text"
                autocomplete="off"
                :rules="validateRules(form)"
                v-model="fields[form.model]"
                :label="form.label"
                color="blue darken-4"
                @keyup.enter.native="submitForm"
                required
              >
                {{ form }}</v-text-field
              >
            </div>
            <center>
              <v-btn dark color="blue darken-4" @click="submitForm">Ubah</v-btn>
            </center>
          </v-form>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { EventBus } from "../../../event-bus";
import axios from "axios";

export default {
  name: "EditPage",
  props: ["edit_dialog", "item"],
  data: () => ({
    dialog: "",
    forms: [
      {
        label: "Nama Kategori",
        model: "name",
      },
    ],
    fields: {
      name: "",
    },
  }),
  methods: {
    closeDialog() {
      this.$emit("updateEdit", false);
    },
    validateRules(field) {
      return [(v) => !!v || `${field.label} harus diisi`];
    },
    async submitForm() {
      if (this.$refs.form.validate()) {
        EventBus.$emit("startLoading");
        // Static token
        const token = "172|UzltSIo1xXhWYqE6kUa0F0XBYHskbXJ66pFpHTO4";
        const config = {
          headers: { Authorization: `Bearer ${token}` },
        };
        await axios
          .put(`${this.$api}/product-categories/${this.id}`, {
            name: this.fields.name,
          }, config);
        this.$emit("getInformasi");
        EventBus.$emit("stopLoading");
        this.$refs.form.reset();
        this.$emit("updateEdit", false);
      }
    },
  },
  mounted() {
    console.log(this.item);
    this.dialog = this.edit_dialog;
    this.fields["name"] = this.item.name;
    this.id = this.item.id;
  },
};
</script>

<style>
</style>