<template>
    <div
    v-ripple
    style="cursor: pointer;" @click="$router.push({ name: 'BuyerCart', params: { cart: 'cart' }})"
    class="fixed-bottom px-5 py-2 mt-6 slide-up-fade-in v-card v-card--flat v-card--link v-sheet theme--dark blue"
  >
    <div class="d-flex justify-space-between align-center">
      <div>
        <div class="caption">Pesanan</div>
        <h3>1 Produk</h3>
      </div>
      <h4>Rp80.000,00</h4>
    </div>
  </div>
</template>

<script>
export default {
  name: "BottomCart",
  props: ["shopUrl"]
};
</script>

<style>
</style>