<template>
  <v-sheet class="mx-auto mb-10">
      <v-slide-group multiple show-arrows>
        <v-slide-item v-for="n in 25" :key="n" v-slot="{ active, toggle }">
          <v-btn
            class="mx-2 caption"
            :input-value="active"
            active-class="blue white--text"
            depressed
            rounded
            @click="toggle"
          >
            Category {{ n }}
          </v-btn>
        </v-slide-item>
      </v-slide-group>
    </v-sheet>
</template>

<script>
export default {
    name: "CategorySlider"
}
</script>

<style>

</style>