<template>
  <div>
    <div class="d-flex">
      <v-avatar>
        <v-img src="../../../assets/images/icon.svg"></v-img>
      </v-avatar>
      <div class="d-flex flex-column ml-5" style="width: 100%">
        <div class="d-flex justify-space-between">
          <div class="black--text font-weight-bold">
            {{ shop.shopName }}
          </div>
          <v-icon
            style="margin-right: 1.15rem; cursor: pointer"
            size="22"
            color="blue"
            >mdi-share-variant</v-icon
          >
        </div>
        <div class="d-flex justify-space-between">
          <div class="caption">{{ shop.shortAddress }}</div>
          <div
            class="blue--text caption font-weight-bold"
            style="cursor: pointer"
          >
            Bagikan
          </div>
        </div>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <div
              class="caption blue--text font-weight-medium"
              style="cursor: pointer"
              v-bind="attrs"
              v-on="on"
            >
              Lihat Alamat Lengkap
            </div>
          </template>
          <span>{{ shop.fullAddress }}</span>
        </v-tooltip>
      </div>
    </div>
    <v-divider class="my-5"></v-divider>
  </div>
</template>

<script>
export default {
  name: "Header",
  props: ["shop"],
};
</script>

<style>
</style>