<template>
  <div>
    <div class="mt-5 d-flex align-center">
      <figure
        style="width: 5rem; position: relative; cursor: pointer"
        @click="
          $router.push({ name: 'BuyerProduct', params: { itemId: product.id } })
        "
      >
        <v-img
          src="../../../assets/images/icon.svg"
          style="border: 1px solid #d9d9d9; border-radius: 10px"
        ></v-img>
        <v-chip
          class="caption discount-chip accent primary--text"
          style="cursor: pointer"
          @click="
            $router.push({
              name: 'BuyerProduct',
              params: { itemId: product.id },
            })
          "
        >
          <div style="position: relative; width: 50px">
            <span>{{ product.discount }}%</span>
          </div>
        </v-chip>
      </figure>
      <div class="d-flex flex-column ml-5" style="width: 100%">
        <div
          class="font-weight-bold black--text"
          style="cursor: pointer"
          @click="
            $router.push({
              name: 'BuyerProduct',
              params: { itemId: product.id },
            })
          "
        >
          {{ product.name }}
        </div>
        <div class="d-flex justify-space-between">
          <del class="caption">Rp{{ convertToRupiah(product.price) }}</del>
          <v-btn
            depressed
            height="20"
            class="caption blue"
            dark
            @click="buySheet = !buySheet"
          >
            Beli
          </v-btn>
          <v-bottom-sheet v-model="buySheet" inset>
            <v-sheet
              class="text-center"
              height="310px"
              style="border-radius: 10px"
            >
              <div class="container pa-10">
                <h3>{{ product.name }}</h3>
                <h3 class="mb-5">
                  Rp{{ convertToRupiah(product.discountPrice) }}
                </h3>
                <v-text-field
                  v-model="itemCount"
                  outlined
                  color="blue"
                  style="position: relative"
                  class="centered-input"
                  type="number"
                  :rules="numberRules"
                  :value="itemCount"
                  filled
                >
                  <v-btn
                    slot="prepend"
                    class="minus-counter counter"
                    color="white"
                    depressed
                    @click="counter('minus')"
                    >-</v-btn
                  >
                  <v-btn
                    slot="append-outer"
                    class="plus-counter counter"
                    color="white"
                    depressed
                    @click="counter('plus')"
                    >+</v-btn
                  >
                </v-text-field>
                <div class="d-flex justify-space-between" style="width: 100%">
                  <h3>Total</h3>
                  <h3>
                    Rp{{
                      itemCount >= 1
                        ? convertToRupiah(product.discountPrice * itemCount)
                        : "0"
                    }}
                  </h3>
                </div>
                <v-btn
                  dark
                  class="blue py-5 mt-5"
                  @click="buyProduct(product)"
                  width="100%"
                  depressed
                  >Beli</v-btn
                >
              </div>
            </v-sheet>
          </v-bottom-sheet>
        </div>
        <div class="caption black--text">
          Rp{{ convertToRupiah(product.discountPrice) }}
        </div>
      </div>
    </div>
    <v-divider class="mt-5"></v-divider>
  </div>
</template>

<script>
import { EventBus } from "../../../event-bus";
export default {
  name: "Product",
  props: ["product"],
  data: () => ({
    buySheet: false,
    itemCount: 1,
    numberRules: [
      (v) => !!v || "Jumlah barang tidak boleh kosong!",
      (v) => v >= 1 || "Jumlah barang tidak boleh kurang dari satu!",
    ],
  }),
  methods: {
    counter(key) {
      if (key === "plus") this.itemCount += 1;
      else {
        if (this.itemCount > 1) this.itemCount -= 1;
      }
    },
    buyProduct(value) {
      EventBus.$emit("changeItem", value);
      this.buySheet = false;
    },
  },
};
</script>

<style scoped>
.discount-chip {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 20px;
}

.centered-input >>> input {
  text-align: center;
}

.counter >>> .v-ripple__container,
.counter:hover {
  color: #2196f3 !important;
}

.minus-counter {
  position: absolute;
  left: 0.65rem;
  top: 0.05rem;
  height: 3.39rem !important;
  z-index: 999;
}

.plus-counter {
  position: absolute;
  right: 0.66rem;
  top: 0.05rem;
  height: 3.39rem !important;
  z-index: 999;
}
</style>

<style>
.v-chip .v-chip__content {
  width: 50px;
  text-align: center;
}

.v-bottom-sheet.v-dialog.v-bottom-sheet--inset {
  max-width: 35rem !important;
}

@media screen and (max-width: 600px) {
  .v-bottom-sheet.v-dialog.v-bottom-sheet--inset {
    max-width: 100% !important;
  }
}
</style>