<template>
  <div>
      <div v-for="product in products" :key="product.id">
          <Product :product="product" :shop="shop" />
      </div>
  </div>
</template>

<script>
import Product from "./Product";

export default {
    name: "Products",
    props: ["products", "shop"],
    components: {
        Product
    }
}
</script>

<style>

</style>