<template>
  <div>
    <v-form v-on:submit.prevent="submitForm" ref="form">
      <v-text-field
        append-icon="mdi-magnify"
        filled
        color="blue"
        placeholder="Search..."
        @keyup.enter.native="searchForm"
      ></v-text-field>
    </v-form>
  </div>
</template>

<script>
export default {
  name: "Search",
  methods: {
    searchForm() {
      console.log("search");
    },
  },
};
</script>

<style>
</style>