<template>
  <div class="primary py-15">
    <v-container>
      <v-card class="mx-auto card-container py-5">
        <v-card-text class="black--text">
          <center><h1 class="primary--text">Buat Toko</h1></center>
          <v-form ref="form" class="my-10">
            <v-container>
              <v-row>
                <v-col cols="12" class="py-0">
                  <v-text-field
                    v-model="fields.name"
                    label="Nama Toko"
                    required
                    filled
                    :rules="nameRules"
                    type="text"
                    full-width
                  ></v-text-field>
                </v-col>
                <v-col cols="12" class="py-0">
                  <v-select
                    :items="allKota"
                    filled
                    required
                    item-text="city_name"
                    item-value="city_name"
                    label="Kota"
                    v-model="fields.city"
                    :rules="cityRules"
                  ></v-select>
                </v-col>
                <v-col cols="12" class="py-0">
                  <v-text-field
                    v-model="fields.link"
                    label="Link"
                    required
                    filled
                    :rules="linkRules"
                    type="text"
                    full-width
                  ></v-text-field>
                </v-col>
              </v-row>
              <!-- <div class="image-upload mx-auto">
                <v-container grid-list-xs>
                  <v-row alignment justify="center">
                    <v-col
                      v-for="(attachment, index) in attachments"
                      :key="attachment.model"
                      cols="12"
                      class="ma-5"
                    >
                      <div class="d-flex flex-column align-center">
                        <center class="mb-3">{{ attachment.label }}</center>

                        <div
                          class="preview d-flex justify-center align-center"
                          :data-identification="attachment.model"
                        >
                          <div class="subtitle-1 text-preview">Preview</div>
                          <img
                            v-if="checkImage(attachment.model)"
                            class="preview-image"
                            :src="showImage(attachment.model)"
                            alt="image"
                            :id="attachment.model"
                          />
                        </div>

                        <p
                          class="red--text"
                          style="text-align: center"
                          v-if="checkImageError(attachment.model)"
                        >
                          {{ getImageError(attachment.model) }}
                        </p>

                        <v-btn
                          color="primary white--text"
                          class="my-3"
                          @click="uploadImage(index, attachment.model)"
                          >Upload</v-btn
                        >

                        <image-uploader
                          :quality="0.9"
                          :preview="false"
                          outputFormat="verbose"
                          ref="attachment"
                          doNotResize="['gif', 'svg']"
                          accept="image/*"
                          @input="onChangeUploadImage"
                          style="display: none"
                        ></image-uploader>
                      </div>
                    </v-col>
                  </v-row>
                </v-container>
              </div> -->
              <p class="red--text" style="text-align: center">{{ error }}</p>
              <div class="d-flex justify-end">
                <v-btn
                  @click="submitForm"
                  class="btn-save mt-5 primary"
                  depressed
                  >Buat</v-btn
                >
              </div>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
// import ImageUploader from "vue-image-upload-resize";
import axios from "axios";
import { EventBus } from "../event-bus";

export default {
  name: "CreateShop",
  components: {
    // ImageUploader,
  },
  data: () => ({
    fields: {
      name: "",
      city: "",
      link: "",
    },
    nameRules: [(v) => !!v || "Nama harus diisi"],
    linkRules: [(v) => !!v || "Link harus diisi"],
    cityRules: [(v) => !!v || "Kota harus diisi"],
    json: "",
    allKota: [],
    // files: {
    //   gambar_logo: "",
    // },
    // urls: {
    //   url_gambar_logo: "",
    // },
    // attachments: [
    //   {
    //     label: "Logo Toko",
    //     model: "gambar_logo",
    //   },
    // ],
    // imageErrors: [],
    // selectedImageType: "",
    error: "",
  }),
  mounted() {
    this.getJsonFile();
  },
  methods: {
    getJsonFile() {
      this.json = require("../static/kota.json");
      this.allKota = this.json.rajaongkir.results;
    },
    // uploadImage(index, type) {
    //   this.selectedImageType = type;
    //   this.$refs.attachment[index].$el.children[1].click();
    // },

    // onChangeUploadImage(e) {
    //   const image = e.dataUrl;
    //   const type = this.selectedImageType;
    //   if (!image) return;

    //   const fileBlob = this.dataURItoBlob(e.dataUrl, e.info.type);
    //   const file = new File([fileBlob], e.info.name, { type: fileBlob.type });

    //   if (type === "gambar_logo") {
    //     this.urls.url_gambar_logo = URL.createObjectURL(file);
    //     this.files.gambar_logo = file;
    //   }

    //   document.querySelector(
    //     `.preview[data-identification='${type}'] .text-preview`
    //   ).style.display = "none";
    //   document.querySelector(
    //     `.preview[data-identification='${type}']`
    //   ).style.minHeight = 0;
    // },
    // dataURItoBlob(dataURI, contentType) {
    //   var byteString;
    //   if (dataURI.split(",")[0].indexOf("base64") >= 0)
    //     byteString = atob(dataURI.split(",")[1]);
    //   else byteString = unescape(dataURI.split(",")[1]);

    //   // var mimeString = dataURI
    //   //   .split(',')[0]
    //   //   .split(':')[1]
    //   //   .split(';')[0];

    //   var ab = new ArrayBuffer(byteString.length);
    //   var ia = new Uint8Array(ab);
    //   for (var i = 0; i < byteString.length; i++) {
    //     ia[i] = byteString.charCodeAt(i);
    //   }

    //   var bb = new Blob([ab], { type: contentType });
    //   return bb;
    // },

    // checkImage(model) {
    //   for (var url in this.urls) {
    //     if (url === `url_${model}` && this.urls[url] !== "") return true;
    //   }
    // },

    // showImage(model) {
    //   for (var url in this.urls) {
    //     if (url === `url_${model}`) return this.urls[url];
    //   }
    // },
    // validateImage() {
    //   this.imageErrors = [];

    //   for (let image in this.files) {
    //     if (this.files[image]) {
    //       let fileName = this.files[image].name;
    //       let extension = fileName.split(".").pop();

    //       const standartExtensions = ["png", "jpg", "jpeg"];
    //       const isRight = standartExtensions.filter(
    //         (ex) => ex === extension.toLowerCase()
    //       );

    //       if (isRight.length <= 0) {
    //         this.imageErrors.push({
    //           model: image,
    //           error: "Format file harus berupa .png / .jpg / .jpeg",
    //         });
    //       }
    //     } else if (!this.files[image]) {
    //       this.imageErrors.push({
    //         model: image,
    //         error: "File wajib diisi",
    //       });
    //     }
    //   }
    // },

    // checkImageError(model) {
    //   let isError = this.imageErrors.filter((err) => err.model === model);

    //   if (isError.length > 0) return true;
    //   else return false;
    // },

    // getImageError(model) {
    //   const error = this.imageErrors.filter((err) => err.model === model);
    //   if (error.length <= 0) return;
    //   return error[0].error;
    // },

    formData() {
      const formData = new FormData();
      formData.append("name", this.fields.name);
      formData.append("city", this.fields.city);
      formData.append("link", this.fields.link);

      return formData;
    },
    submitForm() {
      // this.validateImage();
      // if (this.imageErrors.length > 0) return;
      const formData = this.formData();
      if (this.$refs.form.validate()) {
        EventBus.$emit("startLoading");

        const headers = {
          Authorization: "Bearer " + localStorage.getItem("user_token"),
          "Content-Type": "application/json",
        };
        axios({
          method: "POST",
          url: `${this.$api}/shops`,
          headers: headers,
          data: formData,
        })
          .then(async (data) => {
            EventBus.$emit("stopLoading");
            this.$refs.form.reset();
            const shop_token = await axios({
              method: "POST",
              url: `${this.$api}/login-shop`,
              headers: headers,
              data: {
                shop_id: data.data.id
              }
            })
            localStorage.setItem('shop_token', shop_token)
            this.$router.push({
              name: "Product",
            })
          })
          .catch((err) => {
            this.error = err;
            EventBus.$emit("stopLoading");
          });
      } else {
        let errorMessage = document.querySelector(".v-text-field__details");

        const distanceToTop = (el) =>
          Math.floor(el.getBoundingClientRect().top);

        window.scrollBy({
          top: distanceToTop(errorMessage),
          left: 0,
          behavior: "smooth",
        });
      }
    },
  },
};
</script>

<style scoped>
.preview {
  border: 1px solid #ee5577;
  min-height: 200px;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

.preview-image {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.image-upload {
  width: 50%;
}
.card-container {
  width: 50% !important;
}

.btn-save {
  border-radius: 5px;
  padding: 1.3rem 2rem !important;
  font-weight: 600;
  text-transform: none;
  font-size: 1.1rem;
}

@media screen and (max-width: 1903px) {
  .card-container {
    width: 80% !important;
  }
}

@media screen and (max-width: 1265px) {
  .card-container {
    width: 95% !important;
  }
}

@media screen and (max-width: 960px) {
  .image-upload {
    width: 100%;
  }
}
</style>