<template>
  <div>
    <LandingPage />
    <FeaturesPage />
    <SellingPage />
  </div>
</template>

<script>
import LandingPage from "../components/Home/LandingPage";
import FeaturesPage from "../components/Home/FeaturesPage";
import SellingPage from "../components/Home/SellingPage";

export default {
  name: "Home",
  components: {
    LandingPage,
    FeaturesPage,
    SellingPage,
  },
};
</script>

<style>
.home-text {
  font-size: 3rem;
}

.home-text__secondary {
  font-size: 2rem;
  text-align: center;
}

.home-text__text {
  font-size: 1.8rem;
  text-align: center;
}

.home-text__footer {
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 1265px) {
  .home-text {
    font-size: 2rem;
  }

  .home-text__secondary {
    font-size: 1.8rem;
    text-align: center;
  }

  .home-text__text {
    font-size: 1.5rem;
    text-align: center;
  }

  .home-text__footer {
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 960px) {
  .home-text {
    font-size: 1.8rem;
    text-align: center;
  }
}
</style>