<template>
  <div class="primary py-15">
    <v-container>
      <v-card class="card-container py-15 mx-auto">
        <v-card-text>
          <v-row align="center">
            <v-col cols="12" xl="6" lg="6" md="12" sm="12">
              <v-img
                src="../assets/images/arrived.svg"
                class="img-login"
              ></v-img>
            </v-col>
            <v-col
              cols="12"
              xl="6"
              lg="6"
              md="12"
              sm="12"
              class="d-flex flex-column black--text"
            >
              <h1 class="login-text">Selamat Datang!</h1>
              <p class="login-text__text mt-6">
                Login untuk menikmati semua fitur OlShop!
              </p>
              <v-form ref="form" class="form-container">
                <v-container>
                  <v-row>
                    <v-col cols="12" class="py-0">
                      <v-text-field
                        v-model="fields.email"
                        label="Email"
                        :error-messages="errors.email"
                        required
                        :rules="emailRules"
                        type="text"
                        full-width
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" class="py-0">
                      <v-text-field
                        v-model="fields.password"
                        label="Password"
                        required
                        :rules="passwordRules"
                        :error-messages="errors.passwordErrors"
                        type="password"
                        full-width
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-btn
                    class="btn-login primary mt-10"
                    depressed
                    @click="submitForm"
                    >Login</v-btn
                  >
                  <p class="mt-5 login-text__account">
                    Belum punya akun?
                    <span class="font-weight-bold">
                      <router-link
                        to="/register"
                        class="text-decoration-none primary--text"
                        >Daftar!</router-link
                      >
                    </span>
                  </p>
                </v-container>
              </v-form>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { EventBus } from "../event-bus";
import axios from "axios";

export default {
  name: "Login",
  data: () => ({
    errors: {
      emailErrors: "",
      passwordErrors: "",
    },
    fields: {
      email: "",
      password: "",
    },
    emailRules: [
      (v) => !!v || "Email harus diisi",
      (v) => /.+@.+/.test(v) || "Email tidak valid",
    ],
    passwordRules: [
      (v) => !!v || "Password harus diisi",
      (v) => v.length >= 6 || "Password setidaknya harus ada 6 karakter",
    ],
  }),
  methods: {
    submitForm() {
      if (this.$refs.form.validate()) {
        EventBus.$emit("startLoading");

        axios({
          method: "POST",
          url: `${this.$api}/login`,
          data: {
            email: this.fields.email,
            password: this.fields.password,
          },
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        })
          .then((res) => {
            console.log(res.data);
            EventBus.$emit("stopLoading");
            this.error = "";
            this.$refs.form.reset();
            localStorage.setItem("user_token", res.data.data);
            EventBus.$emit("setLogin", true);
            this.$router.push({ name: "Home" });
          })
          .catch((err) => {
            this.error = err.response.data.message;
            if (this.error.email != undefined)
              this.errors.nameErrors = this.error.email[0];
            if (this.error.password != undefined)
              this.errors.passwordErrors = this.error.password[0];
            EventBus.$emit("stopLoading");
          });
      }
    },
  },
};
</script>

<style scoped>
.card-container {
  width: 80%;
}

.login-text {
  font-size: 3rem;
  line-height: 3rem;
}

.login-text__text {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: start;
}

.btn-login {
  border-radius: 50px;
  padding: 1.5rem 3rem !important;
  font-weight: 600;
  text-transform: none;
  font-size: 1.1rem;
}

.login-text__account {
  font-size: 1.1rem;
}

.form-container {
  width: 80%;
}

@media screen and (max-width: 1903px) {
  .card-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 1265px) {
  .card-container {
    width: 95% !important;
  }

  .img-login {
    display: none;
  }

  .form-container {
    width: 100%;
  }

  .btn-login {
    margin: 0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .login-text,
  .login-text__text,
  .login-text__account {
    text-align: center;
  }
}
</style>