<template>
  <div class="primary py-15">
    <v-container>
      <v-card class="card-container py-15 mx-auto">
        <v-card-text>
          <v-row align="center">
            <v-col cols="12" xl="6" lg="6" md="12" sm="12">
              <v-img
                src="../assets/images/step.svg"
                class="img-register"
              ></v-img>
            </v-col>
            <v-col
              cols="12"
              xl="6"
              lg="6"
              md="12"
              sm="12"
              class="d-flex flex-column black--text"
            >
              <h1 class="register-text">Buat akunmu!</h1>
              <p class="register-text__text mt-6">
                Buat akunmu dan kembangkan tokomu!
              </p>
              <v-form ref="form" class="form-container">
                <v-container>
                  <v-row>
                    <v-col cols="12" class="py-0">
                      <v-text-field
                        v-model="fields.name"
                        label="Nama"
                        required
                        :rules="nameRules"
                        :error-messages="errors.nameErrors"
                        type="text"
                        full-width
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" class="py-0">
                      <v-text-field
                        v-model="fields.email"
                        label="Email"
                        required
                        :rules="emailRules"
                        :error-messages="errors.emailErrors"
                        type="text"
                        full-width
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" class="py-0">
                      <v-text-field
                        v-model="fields.phone"
                        label="Nomor HP"
                        required
                        :rules="phoneRules"
                        :error-messages="errors.phone_numberErrors"
                        type="number"
                        full-width
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" class="py-0">
                      <v-text-field
                        v-model="fields.password"
                        label="Password"
                        required
                        :rules="passwordRules"
                        :error-messages="errors.passwordErrors"
                        type="password"
                        full-width
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" class="py-0">
                      <v-text-field
                        v-model="fields.password_confirm"
                        label="Konfirmasi Password"
                        required
                        :rules="[
                          ...confirmPasswordRules,
                          fields.password === fields.password_confirm ||
                            'Password harus sama',
                        ]"
                        :error-messages="errors.password_confirmationErrors"
                        type="password"
                        full-width
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-btn
                    class="btn-register primary mt-10"
                    depressed
                    @click="submitForm"
                    >Daftar</v-btn
                  >
                  <p class="mt-5 register-text__account">
                    Sudah punya akun?
                    <span class="font-weight-bold">
                      <router-link
                        to="/login"
                        class="text-decoration-none primary--text"
                        >Login!</router-link
                      >
                    </span>
                  </p>
                </v-container>
              </v-form>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { EventBus } from "../event-bus";
import axios from "axios";

export default {
  name: "Register",
  data: () => ({
    errors: {
      nameErrors: "",
      emailErrors: "",
      phone_numberErrors: "",
      passwordErrors: "",
      password_confirmationErrors: "",
    },
    fields: {
      name: "",
      email: "",
      phone: "",
      password: "",
      password_confirm: "",
    },
    nameRules: [(v) => !!v || "Nama harus diisi"],
    emailRules: [
      (v) => !!v || "Email harus diisi",
      (v) => /.+@.+/.test(v) || "Email tidak valid",
    ],
    phoneRules: [
      (v) => !!v || "Nomor HP harus diisi",
      (v) => Number.isInteger(Number(v)) || "Nomor HP harus angka yang valid",
    ],
    passwordRules: [
      (v) => !!v || "Password harus diisi",
      (v) => v.length >= 6 || "Password setidaknya harus ada 6 karakter",
    ],
    confirmPasswordRules: [(v) => !!v || "Konfirmasi Password harus diisi"],
  }),
  methods: {
    async submitForm() {
      if (this.$refs.form.validate()) {
        EventBus.$emit("startLoading");
        try {
          await axios({
            method: "POST",
            url: `${this.$api}/register`,
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
            data: {
              name: this.fields.name,
              email: this.fields.email,
              phone_number: this.fields.phone,
              password: this.fields.password,
              password_confirmation: this.fields.password_confirm,
            },
          });
          this.error = "";
          this.$refs.form.reset();
          EventBus.$emit("stopLoading");
          this.$router.push({ name: "Login" });
        } catch (err) {
          this.error = err.response.data.message;
          if (this.error.name != undefined)
            this.errors.nameErrors = this.error.name[0];
          if (this.error.email != undefined)
            this.errors.emailErrors = this.error.email[0];
          if (this.error.phone_number != undefined)
            this.errors.phone_numberErrors = this.error.phone_number[0];
          if (this.error.password != undefined)
            this.errors.passwordErrors = this.error.password[0];
          if (this.error.password_confirmation != undefined)
            this.errors.password_confirmationErrors = this.error.password_confirmation[0];
          EventBus.$emit("stopLoading");
        }
      }
    },
  },
};
</script>

<style scoped>
.card-container {
  width: 80%;
}

.register-text {
  font-size: 3rem;
  line-height: 3rem;
}

.register-text__text {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: start;
}

.btn-register {
  border-radius: 50px;
  padding: 1.5rem 3rem !important;
  font-weight: 600;
  text-transform: none;
  font-size: 1.1rem;
}

.register-text__account {
  font-size: 1.1rem;
}

.form-container {
  width: 80%;
}

@media screen and (max-width: 1903px) {
  .card-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 1265px) {
  .card-container {
    width: 95% !important;
  }

  .img-register {
    display: none;
  }

  .form-container {
    width: 100%;
  }

  .btn-register {
    margin: 0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .register-text,
  .register-text__text,
  .register-text__account {
    text-align: center;
  }
}
</style>