<template>
  <div class="primary py-15">
    <v-container>
      <v-card class="mx-auto card-container py-5">
        <v-card-text class="black--text">
          <center><h1 class="primary--text">Profil</h1></center>
          <v-form ref="form" class="my-10">
            <v-container>
              <v-row>
                <v-col cols="12" class="py-0">
                  <v-text-field
                    v-model="fields.name"
                    label="Nama"
                    required
                    filled
                    :rules="nameRules"
                    type="text"
                    full-width
                  ></v-text-field>
                </v-col>
                <v-col cols="12" class="py-0">
                  <v-text-field
                    v-model="fields.email"
                    label="Email"
                    required
                    filled
                    :rules="emailRules"
                    type="text"
                    full-width
                  ></v-text-field>
                </v-col>
                <v-col cols="12" class="py-0">
                  <v-text-field
                    v-model="fields.phone"
                    label="Nomor HP"
                    required
                    filled
                    :rules="phoneRules"
                    type="number"
                    full-width
                  ></v-text-field>
                </v-col>
                <v-col cols="12" class="py-0">
                  <v-text-field
                    v-model="fields.password"
                    label="Password"
                    required
                    filled
                    :rules="passwordRules"
                    type="password"
                    full-width
                  ></v-text-field>
                </v-col>
              </v-row>
              <div class="d-flex justify-end">
                <v-btn
                  class="btn-save mt-5 primary"
                  depressed
                  @click="submitForm"
                  >Simpan</v-btn
                >
              </div>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "UserProfile",
  data: () => ({
    fields: {
      name: "",
      email: "",
      phone: "",
      password: "",
    },
    nameRules: [(v) => !!v || "Nama harus diisi"],
    emailRules: [
      (v) => !!v || "Email harus diisi",
      (v) => /.+@.+/.test(v) || "Email tidak valid",
    ],
    phoneRules: [
      (v) => !!v || "Nomor HP harus diisi",
      (v) => Number.isInteger(Number(v)) || "Nomor HP harus angka yang valid",
    ],
    passwordRules: [
      (v) => !!v || "Password harus diisi",
      (v) => v.length >= 6 || "Password setidaknya harus ada 6 karakter",
    ],
  }),
};
</script>

<style scoped>
.card-container {
  width: 50% !important;
}

.btn-save {
  border-radius: 5px;
  padding: 1.3rem 2rem !important;
  font-weight: 600;
  text-transform: none;
  font-size: 1.1rem;
}

@media screen and (max-width: 1903px) {
  .card-container {
    width: 80% !important;
  }
}

@media screen and (max-width: 1265px) {
  .card-container {
    width: 95% !important;
  }
}
</style>