<template>
  <div class="accent py-15">
    <v-container>
      <center><h1 class="home-text primary--text mb-15">Mengapa OlShop?</h1></center>
      <v-row>
        <v-col
          cols="4"
          md="6"
          lg="4"
          xl="4"
          sm="12"
          class="d-flex justify-center align-center"
          v-for="feature in features"
          :key="feature.image"
        >
        <v-container class="d-flex justify-center align-center flex-column">
            <v-img :src="require(`../../assets/images/${feature.image}`)"></v-img>
            <h1 class="mt-5 home-text__secondary primary--text">{{ feature.text }}</h1>
        </v-container>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "FeaturesPage",
  data: () => ({
    features: [
      {
        image: "order_confirmed.svg",
        text: "Otomatisasi Pesanan",
      },
      {
        image: "add_cart.svg",
        text: "Akses Website dan Mobile",
      },
      {
        image: "data_point.svg",
        text: "Pantau Statistik Toko",
      },
    ],
  }),
};
</script>

<style scoped>
</style>