<template>
  <div class="primary py-15">
      <v-container>
          <v-row>
              <v-col cols="6" sm="12" lg="6" xl="6" md="6" class="d-flex justify-center align-start flex-column">
                  <h1 class="white--text home-text">Buat Website Toko Onlinemu Sekarang Gratis, Mudah, dan Aman!</h1>
                  <v-btn class="primary--text btn-shop my-2" depressed color="white" to="/seller">Buat Toko</v-btn>
              </v-col>
              <v-col cols="6" sm="12" lg="6" xl="6" md="6" class="d-flex align-center justify-center">
                  <v-img class="img-shop" src="../../assets/images/business_shop.svg"></v-img>
              </v-col>
          </v-row>
      </v-container>
  </div>
</template>

<script>
export default {
    name: "LandingPage"
}
</script>

<style scoped>
.btn-shop {
    border-radius: 50px;
    padding: 2rem!important;
    font-weight: 600;
    text-transform: none;
    font-size: 1.4rem;
}

@media screen and (max-width: 960px) {
  .btn-shop {
      margin: auto;
      margin-top: 2rem!important;
  }

  .img-shop {
      display: none;
  }
}
</style>