<template>
  <div class="primary py-15">
      <v-container>
          <center><h1 class="home-text white--text">Jualan Mudah dengan OlShop!</h1></center>
          <p class="home-text__text white--text mt-10" style="font-weight: 600;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores distinctio ipsa non ullam ut magnam maiores voluptate, facilis perspiciatis ipsum minima fuga doloremque nulla quasi. Quaerat blanditiis labore consequuntur atque!</p>
        <center><v-btn class="primary--text btn-sell my-2 mt-10" depressed color="white" to="/seller">Mulai Jualan</v-btn></center>
      </v-container>
  </div>
</template>

<script>
export default {
    name: "SellingPage"
}
</script>

<style scoped>
.btn-sell {
    border-radius: 15px;
    padding: 2.8rem 2.3rem 2.8rem 2.3rem!important;
    font-weight: bold;
    text-transform: none;
    font-size: 1.8rem;
}
</style>