<template>
  <div>
    <v-img
      src="../../../assets/images/icon.svg"
      contain
      max-height="400"
      v-ripple
      style="cursor: pointer"
      @click="overlay = true"
    ></v-img>
    <div
      class="caption blue--text font-weight-medium mt-5"
      style="font-size: 0.85rem !important"
    >
      Baju
    </div>
    <h2 class="black--text my-2">Foto Keren</h2>
    <div class="d-flex align-center">
      <div class="font-weight-medium black--text">Rp20.000,00</div>
      <del class="mx-2">Rp20.000,00</del>
      <v-chip
        class="caption accent primary--text"
        style="height: 1.5rem; width: 3.5rem"
      >
        <div style="width: 100%">0%</div>
      </v-chip>
    </div>
    <v-divider class="my-5"></v-divider>
    <h3 class="black--text font-weight-medium">Deskripsi Produk</h3>
    <div class="mt-2">Belum ada deskripsi produk</div>
    <v-btn
      dark
      class="blue mt-5 py-5"
      style="width: 100%; font-size: 1.1rem"
      depressed
      @click="$router.push({ name: 'BuyerHome'})"
      >Beli</v-btn
    >
    <v-overlay :absolute="true" :opacity="1" :value="overlay">
      <div
        v-ripple
        class="fill-height d-flex align-center justify-center"
        style="width: 100% !important; cursor: pointer"
        @click="overlay = false"
      >
        <div>
          <v-img src="../../../assets/images/icon.svg"></v-img>
        </div>
      </div>
    </v-overlay>
  </div>
</template>

<script>
export default {
  name: "Product",
  data: () => ({
    overlay: false,
  }),
};
</script>

<style>
.v-overlay__content {
  width: 100%;
  height: 100%;
}
</style>