<template>
  <header>
    <v-toolbar flat>
      <v-btn icon color="black" @click="$router.push({ name: 'BuyerHome'})">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-toolbar-title>Deskripsi Produk</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
  </header>
</template>

<script>
export default {
  name: "Toolbar",
  data: () => ({}),
};
</script>

<style>
</style>