<template>
  <v-footer padless class="mt-6">
    <v-col cols="12">
      <div>
        <h4>Rincian Pembayaran</h4>
        <div
          class="d-flex my-3 justify-space-between"
          v-for="item in paymentInfo"
          :key="item.text"
        >
          <div
            class="caption font-weight-medium"
            :class="item.text === 'Total' && 'font-weight-bold'"
          >
            {{ item.text }}
          </div>
          <div
            class="caption"
            :class="item.text === 'Total' && 'font-weight-bold'"
          >
            {{ item.amount }}
          </div>
        </div>
        <v-btn
          style="width: 100%"
          class="blue py-5"
          dark
          depressed
          @click="
            $router.push({
              name: 'BuyerCheckout',
              params: { checkout: 'checkout' },
            })
          "
          >Buat Pesanan</v-btn
        >
      </div>
    </v-col>
  </v-footer>
</template>

<script>
export default {
  name: "PaymentInfo",
  data: () => ({
    paymentInfo: [
      { text: "Total Harga (2 Produk)", amount: "Rp330.000,00" },
      { text: "Diskon", amount: "Rp50.000,00" },
      { text: "Total", amount: "Rp280.000,00" },
    ],
  }),
};
</script>

<style>
</style>