<template>
  <div>
    <div class="d-flex align-center justify-space-between">
      <div class="d-flex align-center">
        <v-checkbox color="blue"></v-checkbox>
        <div class="black--text ml-3">Pilih Semua</div>
      </div>
      <v-btn plain color="red">Hapus</v-btn>
    </div>
    <v-divider></v-divider>
    <v-btn plain color="blue" class="mt-5" @click="$router.push({ name: 'BuyerHome'})">+ Tambah Produk Lain</v-btn>
    <div v-for="product in products" :key="product.id">
      <Product :product="product" />
    </div>
  </div>
</template>

<script>
import Product from "./Product";

export default {
  name: "Products",
  props: ["products"],
  components: {
    Product,
  },
};
</script>

<style>
</style>