<template>
  <div>
    <div class="mt-5 d-flex align-center">
      <v-checkbox color="blue" class="mr-3"></v-checkbox>
      <figure style="width: 5rem; position: relative">
        <v-img
          src="../../../assets/images/icon.svg"
          style="border: 1px solid #d9d9d9; border-radius: 10px"
        ></v-img>
        <v-chip class="caption discount-chip accent primary--text">
          <div style="position: relative; width: 50px">
            <span>{{ product.discount }}%</span>
          </div>
        </v-chip>
      </figure>
      <div class="d-flex flex-column ml-5" style="width: 100%">
        <div class="font-weight-bold black--text">{{ product.name }}</div>
        <div class="d-flex justify-space-between">
          <del class="caption">Rp{{ convertToRupiah(product.price) }}</del>
          <vue-numeric-input :min="1"></vue-numeric-input>
        </div>
        <div class="caption black--text">
          Rp{{ convertToRupiah(product.discountPrice) }}
        </div>
      </div>
    </div>
    <v-divider class="mt-5"></v-divider>
  </div>
</template>

<script>
import VueNumericInput from "vue-numeric-input";

export default {
  name: "Product",
  components: {
    VueNumericInput,
  },
  props: ["product"],
  data: () => ({}),
  methods: {
    counter(key) {
      if (key === "plus") this.itemCount += 1;
      else {
        if (this.itemCount > 1) this.itemCount -= 1;
      }
    },
  },
};
</script>

<style scoped>
.discount-chip {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 20px;
}

.vue-numeric-input {
  width: 120px !important;
}
</style>

<style>
.v-chip .v-chip__content {
  width: 50px;
  text-align: center;
}

.vue-numeric-input input, .vue-numeric-input input:focus {
  outline: #2196F3!important;
  border: 1px solid #2196F3!important;
  border-radius: 5px;
  -webkit-box-shadow: #2196F3!important;
  box-shadow: #2196F3!important;
}

.vue-numeric-input .numeric-input {
  text-align: center !important;
}

.vue-numeric-input .btn {
  background: none!important;
}

.vue-numeric-input .btn-decrement .btn-icon:before, .vue-numeric-input .btn-increment .btn-icon:after, .vue-numeric-input .btn-increment .btn-icon:before {
  background-color: #2196F3!important;
}

</style>