<template>
  <div>
    <v-form ref="form">
      <v-text-field
        color="blue"
        type="text"
        label="Nama Penerima"
        required
      ></v-text-field>
      <v-text-field
        color="blue"
        type="number"
        label="Nomor HP"
        required
      ></v-text-field>
      <v-select
        v-model="isDelivered"
        label="Metode Pengiriman"
        color="blue"
        :items="items"
        :item-text="text"
        :item-value="value"
      ></v-select>
      <v-text-field
        v-if="isDelivered"
        label="Alamat"
        type="text"
        color="blue"
      ></v-text-field>
      <!-- <input type="text" ref="autocomplete" style="border: 1px solid black;"> -->
    </v-form>
    <!-- <GmapMap
      :center="center"
      :zoom="18"
      map-style-id="roadmap"
      :options="mapOptions"
      style="width: 100vmin; height: 50vmin"
      ref="mapRef"
      @click="handleMapClick"
    >
      <GmapMarker
        :position="marker.position"
        :clickable="true"
        :draggable="true"
        @drag="handleMarkerDrag"
        @click="panToMarker"
      />
    </GmapMap>
    <button @click="geolocate">Detect Location</button> -->

    <!-- <p>Selected Position: {{ marker.position }}</p> -->
  </div>
</template>

<script>
export default {
  name: "CheckoutForm",
  data: () => ({
    isDelivered: false,
    items: [
      { text: "Diambil di tempat", value: false },
      { text: "Dikirim", value: true }
    ],
    apiKey: "AIzaSyDRTFu6JmgtBk8h8VTaa-_G0WoEqdjk1HQ",
    marker: { position: { lat: 10, lng: 10 } },
    center: { lat: 10, lng: 10 },

    mapOptions: {
      disableDefaultUI: true,
    },
  }),
  methods: {
    //detects location from browser
    geolocate() {
      navigator.geolocation.getCurrentPosition((position) => {
        this.marker.position = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };

        this.panToMarker();
      });
    },

    //sets the position of marker when dragged
    handleMarkerDrag(e) {
      this.marker.position = { lat: e.latLng.lat(), lng: e.latLng.lng() };
    },

    //Moves the map view port to marker
    panToMarker() {
      this.$refs.mapRef.panTo(this.marker.position);
      this.$refs.mapRef.setZoom(18);
    },

    //Moves the marker to click position on the map
    handleMapClick(e) {
      this.marker.position = { lat: e.latLng.lat(), lng: e.latLng.lng() };
      console.log(e);
    },
    async loadApi() {
      const loadGoogleMapsApi = require("load-google-maps-api");

      try {
        const googleMaps = await loadGoogleMapsApi({
          libraries: ["places"],
          key: this.apiKey,
        });
        this.autocomplete = new googleMaps.places.Autocomplete(
          this.$refs.autocomplete,
          { types: ["geocode"] }
        );
        this.autocomplete.addListener("place_changed", () => {
          let place = this.autocomplete.getPlace();
          let ac = place.address_components;
          let lat = place.geometry.location.lat();
          let lon = place.geometry.location.lng();
          let city = ac[0]["short_name"];

          console.log(
            `The user picked ${city} with the coordinates ${lat}, ${lon}`
          );
        });
      } catch (e) {
        console.log(e);
      }
    },
  },
  mounted() {
    this.loadApi();
  },
};
</script>

<style>
</style>