<template>
  <header>
    <v-toolbar flat>
      <v-btn
        icon
        color="black"
        @click="$router.push({ name: 'BuyerCart', params: { cart: 'cart' } })"
      >
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-toolbar-title>Checkout</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
  </header>
</template>

<script>
export default {
  name: "Toolbar",
  data: () => ({}),
};
</script>

<style>
</style>