<template>
  <footer class="pb-15">
    <v-container class="py-15">
      <center>
        <v-row>
        <v-col class="d-flex flex-column" cols="4" sm="12" md="6" lg="4" xl="4" v-for="link in links" :key="link.title">
            <h1 class="primary--text text-decoration-underline">{{ link.title }}</h1>
            <ul class="px-0 mt-5">
                <li v-for="item in link.items" :key="item.text" class="footer-list home-text__footer">
                  <router-link :to="item.to" class="nav__link footer-list primary--text">{{ item.text }}</router-link>
                </li>
            </ul>
        </v-col>
      </v-row>
      </center>
    </v-container>
  </footer>
</template>

<script>
export default {
  name: "Footer",
  data: () => ({
    links: [
      {
        title: "Produk",
        items: [
          { text: "Unduh OlShop", to: "" },
          { text: "Syarat & Ketentuan", to: "" },
          { text: "Kebijakan Privasi", to: "" },
        ],
      },
      {
        title: "Bantuan",
        items: [
          { text: "Pusat Bantuan", to: "" },
          { text: "FAQ", to: "" },
        ],
      },
      {
        title: "Kontak",
        items: [
          { text: "Instagram", to: "" },
          { text: "Facebook", to: "" },
          { text: "Twitter", to: "" },
          { text: "YouTube", to: "" },
        ],
      },
    ],
  }),
};
</script>

<style scoped>
.footer-list {
    text-decoration: none;
    list-style: none;
}
</style>