<template>
  <nav>
    <v-app-bar class="primary" flat>
      <v-container>
        <v-row>
          <v-col cols="3" class="d-flex align-center">
            <div class="d-flex">
              <v-img
                src="../assets/images/icon.svg"
                height="50"
                width="50"
              ></v-img>
              <h2 class="my-auto white--text ml-3">OlShop</h2>
            </div>
          </v-col>
          <v-col cols="5" class="d-flex justify-center align-center">
            <div>
              <ul>
                <li
                  v-for="link in links"
                  router
                  :key="link.to"
                  class="mr-6 text-h6 nav__link font-weight-bold"
                >
                  <router-link :to="link.to" class="nav__link">{{
                    link.text
                  }}</router-link>
                </li>
              </ul>
            </div>
          </v-col>
          <v-col cols="4" class="d-flex justify-center align-center">
            <ul v-if="hasLogin">
              <li
                v-for="link in auth.afterLogin"
                router
                :to="link.to"
                :key="link.to"
                class="mr-6 white--text text-h6 nav__link auth__link font-weight-bold"
              >
                <router-link
                  :to="link.to"
                  class="nav__link"
                  :class="link.to == '/shop' ? 'nav__link__btn' : ''"
                  :id="link.text == 'Logout' ? 'nav__link__logout' : ''"
                  >{{ link.text }}</router-link
                >
              </li>
            </ul>
            <ul v-else>
              <li
                v-for="link in auth.beforeLogin"
                router
                :to="link.to"
                :key="link.to"
                class="mr-6 white--text text-h6 nav__link font-weight-bold"
              >
                <router-link
                  :to="link.to"
                  class="nav__link"
                  :class="link.to == '/register' ? 'nav__link__btn' : ''"
                  >{{ link.text }}</router-link
                >
              </li>
            </ul>
          </v-col>
        </v-row>
      </v-container>
        <v-app-bar-nav-icon class="appbar-icon white primary--text mr-2" @click="drawer = !drawer"></v-app-bar-nav-icon>
    </v-app-bar>
    <v-navigation-drawer
      app
      v-model="drawer"
      temporary
      right
      disable-resize-watcher
    >
    <v-list dense>
        <v-list-item link v-for="link in links" :key="link.text">
          <v-list-item-content>
            <v-btn small text :to="link.to" class="font-weight-medium">{{
              link.text
            }}</v-btn>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <hr class="mx-5 primary">
      <v-list dense v-if="!hasLogin">
        <v-list-item link v-for="link in auth.beforeLogin" :key="link.text">
          <v-list-item-content>
            <v-btn small text :to="link.to" class="font-weight-medium">{{
              link.text
            }}</v-btn>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list dense v-if="hasLogin">
        <v-list-item link v-for="link in auth.afterLogin" :key="link.text">
          <v-list-item-content>
            <v-btn small text :to="link.to" class="font-weight-medium">{{
              link.text
            }}</v-btn>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
  props: ["hasLogin"],
  data: () => ({
    links: [
      { to: "/", text: "Beranda" },
      { to: "/faq", text: "Pertanyaan Umum" },
      { to: "/blog", text: "Blog" },
    ],
    auth: {
      beforeLogin: [
        { to: "/login", text: "Login" },
        { to: "/register", text: "Daftar" },
      ],
      afterLogin: [
        { to: "/profile", text: "Profil" },
        { to: "/shop", text: "Toko" },
        { to: "", text: "Logout" },
      ],
    },
    drawer: false,
  }),
};
</script>

<style scoped>
.nav__link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.nav__link__btn {
  color: #ee5577;
  background: white;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 10px;
}

#nav__link__logout {
  color: white;
  background: red;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 10px;
}

.appbar-icon {
  display: none;
}

@media screen and (max-width: 1265px) {
  .appbar-icon {
    display: initial;
  }

  ul {
    display: none;
  }
}
</style>