<template>
  <v-app v-if="hasNavbar">
    <v-app-bar app elevate-on-scroll color="white">
      <v-app-bar-nav-icon
        style="color: #2e3159"
        @click.stop="sidebarMenu = !sidebarMenu"
      ></v-app-bar-nav-icon>
      <v-spacer></v-spacer>
      <v-btn color="primary" class="py-6" dark>
        <v-icon left size="30"> mdi-location-enter </v-icon>
        <div class="d-flex flex-column align-start mx-3">
          <div style="font-weight: 600">Lihat Toko Saya</div>
          <div class="caption">
            {{ shopLink }}
          </div>
        </div>
      </v-btn>
    </v-app-bar>
    <v-navigation-drawer
      v-model="sidebarMenu"
      app
      color="secondary"
      floating
      :permanent="sidebarMenu"
      :mini-variant.sync="mini"
    >
      <v-list dense>
        <v-list-item>
          <v-list-item-action>
            <v-icon @click.stop="sidebarMenu = !sidebarMenu" color="white"
              >mdi-chevron-left</v-icon
            >
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list-item class="px-2" @click="toggleMini = !toggleMini">
        <v-list-item-avatar>
          <v-icon color="white">mdi-account-outline</v-icon>
        </v-list-item-avatar>
        <v-list-item-content class="text-truncate white--text">
          {{ name }}
        </v-list-item-content>
        <v-btn icon small>
          <v-icon color="white">mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>
      <v-menu bottom left>
        <template v-slot:activator="{ on, attrs }">
          <v-list-item class="px-2" v-bind="attrs" v-on="on">
            <v-list-item-avatar>
              <v-icon color="white">mdi-store</v-icon>
            </v-list-item-avatar>
            <v-list-item-content class="text-truncate white--text">
              {{ shopName }}
            </v-list-item-content>
            <v-btn icon small>
              <v-icon color="white">mdi-chevron-down</v-icon>
            </v-btn>
          </v-list-item>
        </template>
        <v-list>
          <v-list-item v-for="(shop, i) in shops" :key="i" @click="test">
            <v-list-item-title>{{ shop.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-divider class="blue-grey lighten-1"></v-divider>
      <v-list>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          active-class="active-list"
          :to="item.href"
        >
          <v-list-item-icon>
            <v-icon color="white">{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="white--text">{{
              item.title
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="blue-grey lighten-1"></v-divider>
        <v-list>
          <v-list-item link @click="logout">
            <v-list-item-icon>
              <v-icon color="white">mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="white--text">Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row class="fill-height">
          <v-col>
            <transition name="fade">
              <router-view />
            </transition>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import axios from "axios";
import { EventBus } from "../event-bus";
export default {
  name: "SellerNavbar",
  data: () => ({
    name: "",
    shopLink: "",
    right: null,
    sidebarMenu: true,
    toggleMini: false,
    hasNavbar: true,
    shopName: "",
    shops: [],
    items: [
      { title: "Home", href: "/seller", icon: "mdi-home-outline" },
      { title: "Order", href: "/seller-order", icon: "mdi-shopping" },
      { title: "Produk", href: "/seller-product", icon: "mdi-package-variant" },
      {
        title: "Kategori Produk",
        href: "/seller-product-category",
        icon: "mdi-package",
      },
      { title: "Diskon", href: "/seller-discount", icon: "mdi-sale" },
      {
        title: "Statistik",
        href: "/seller-statistics",
        icon: "mdi-note-multiple",
      },
    ],
  }),
  computed: {
    mini() {
      return this.$vuetify.breakpoint.smAndDown || this.toggleMini;
    },
  },
  mounted() {
    this.name = localStorage.getItem("name");
    if (localStorage.getItem("token") != null) this.hasNavbar = true;
    else this.hasNavbar = false;

    // Testing
    this.hasNavbar = true;
  },
  created() {
    this.getShopInformation();
    EventBus.$on("logged", () => {
      this.name = localStorage.getItem("name");
      if (localStorage.getItem("token") != null) this.hasNavbar = true;
      else this.hasNavbar = false;
    });
  },
  methods: {
    async getShopInformation() {
      const getShopsHeader = {
        Accept: "application/json",
        "Content-Type": "application/json",
        Authorization: "Bearer " + localStorage.getItem("user_token"),
      };
      const headers = {
        Authorization: "Bearer " + localStorage.getItem("shop_token"),
        "Content-Type": "application/json",
      };
      try {
        const allShops = await axios({
          url: `${this.$api}/shops`,
          headers: getShopsHeader,
        });
        const currentShop = await axios({
          url: `${this.$api}/auth-decode`,
          headers: headers,
        });
        const profile = await axios({
          url: `${this.$api}/auth-decode`,
          headers: getShopsHeader,
        });
        this.shopName = currentShop.data.name;
        this.shopLink = `olshop.ly/${currentShop.data.link}`;
        this.name = profile.data.name;
        const shopsCount = allShops.data.data.length;
        for (let i = 0; i < shopsCount; i++) {
          const element = allShops.data.data[i];
          this.shops.push({ title: element.name });
        }
      } catch (error) {
        console.log(error);
      }
    },
    async logout() {
      const headers = {
        Authorization: "Bearer " + localStorage.getItem("token"),
        "Content-Type": "application/json",
      };

      EventBus.$emit("startLoading");
      axios
        .post(`${this.$api}/logout`, null, { headers: headers })
        .then(() => {
          EventBus.$emit("stopLoading");
          localStorage.clear();
          EventBus.$emit("logged", "logout");
          EventBus.$emit("hasRoute", "logout");
          this.$router.push({ name: "Login" });
        })
        .catch((err) => {
          this.error = err.response.data.message;
          EventBus.$emit("stopLoading");
        });
    },
  },
};
</script>

<style scoped>
.active-list {
  background-color: #404475;
}

.theme--light.v-list-item--active::before {
  opacity: 0;
}
</style>