<template>
  <v-app>
    <loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="true"
      color="#2E3159"
      :loader="`dots`"
      :lock-scroll="true"
    ></loading>
    <Navbar :hasLogin="hasLogin" v-if="!checkUrl('buyer')" />
    <SellerNavbar v-if="checkUrl('seller')" />
    <v-main>
      <router-view v-if="!checkUrl()" />
    </v-main>
    <Footer v-if="!checkUrl('seller') && !checkUrl('buyer')" />
  </v-app>
</template>

<script>
import Navbar from "./core/Navbar";
import SellerNavbar from "./core/SellerNavbar";
import Footer from "./core/Footer";
import { EventBus } from "./event-bus";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "App",

  components: {
    Loading,
    Navbar,
    SellerNavbar,
    Footer,
  },

  data: () => ({
    hasLogin: false,
    isLoading: false,
  }),
  methods: {
    checkUrl(text) {
      const url = this.$route.path;
      if (text == 'seller') {
        if (url.includes("seller")) return true;
        else return false;
      } else if (text == 'buyer') {
        if (url.includes("shop")) return true;
      } else return false;
    },
  },
  created() {
    EventBus.$on("startLoading", () => {
      this.isLoading = true;
    });
    EventBus.$on("stopLoading", () => {
      this.isLoading = false;
    });
    EventBus.$on("setLogin", (login) => {
      this.hasLogin = login;
    });
  },
};
</script>

<style>
/* Defining default font family */
body {
  font-family: Poppins, Roboto, sans-serif !important;
}

.v-btn__content {
  font-family: Poppins, Roboto, sans-serif !important;
  text-transform: none;
}
</style>

<style lang="scss">
// Defining default font family
.v-application {
  font-family: Poppins, Roboto, sans-serif !important;
  .title,
  .caption,
  .overline,
  .text-h6,
  .v-btn__content {
    font-family: Poppins, Roboto, sans-serif !important;
  }
}
</style>